@import 'bootstrap';
@import 'app';

@media (min-width: 768px) {
  .search-result-card {
    min-height: 100px;
  }
}

#hits .search-result-card {
  background-color: $gray-300;

  mark {
    background-color: darken($blue-light, 20%);
  }
}

.ais-SearchBox-loadingIndicator {
  position: absolute;
  top: 14px;
  right: 55px;
}
